/* Setting Font */
@font-face {
    font-family: "Open-Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Open-Sans.ttf) format("truetype");
}

/* Setting Variables */
:root {
    /* Font Colors */
    --font-clr-white: #FFFFFF;
    --font-clr-black: #000000;
    --font-clr-gray: #42526E;
    
    /* Font Colors Hover without Click */
    --font-clr-blue-hover: #005DFF;

    /* Font Colors Hover with Click (!if needed!) */

    /* Background Colors */
    --nav-bg-clr: #4589FF;

    /* Background Colors Hover without Click */
    --sidebar-hover-clr: #D2E3FF;

    /* Background Colors Hover with Click */


    /* Font Sizes */
    --fontsize-16px: 16px;
    --fontsize-19px: 19px;
    --fontsize-23px: 23px;


}

/* Standard Setting */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Open-Sans";
}

/* Header */
.headerContainer {}

.header {}

.headerLeft {}

.headerLogo {}

.headerRight {}

.headerTitle {}

.headerHelpIcon {}

.headerProfileContainer {}

.headerProfile {}

.headerProfileLetter {}

/* Sidebar / Footer */
