/* Left Contact List Container*/
.contactListContainer {
    width: 440px;
    height: 100%;
}


/* Right Contact Details Container*/
.contactDetailsContainer {
    width: calc(100% - 440px);
    height: 100%;
}
.contactDetailsContainer{
    display: flex;
    flex-direction: column;
}
.upperContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}
.circle {
    margin-top: 52px;
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.nameAndIcons{
    margin-top: 70px;
}
.editAndDeleteIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    gap: 16px;
}
.editIcon{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.deleteIcon{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
h1 {
    margin-bottom: 0px;
    margin-top: 23px;
}

.headerTitle{
    cursor: pointer;
}

.headerProfileLetter{
    cursor: pointer;
}

.dropDownBar{
    top: 100px;
    display: none;
    position: absolute;
    flex-direction: column;
}

.dropDownItem{
    color: #42526E;
    text-decoration: none;
    display: block;
    text-align: end;
}

.activ{
    padding: 10px;
    width: 125px;
    height: 90px;
    display: block;
    gap: 8px;
    font-size: 19px;
    font-weight: 400;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
}