.headerHelpIconContainer {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.headerHelpIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
  
.headerHelpIcon:hover {
  width: 40px;
  height: 40px;
}

.join{
  color: #4589FF;
}

.helpHeins {
  color: black;
  font-size: 61px;
}

h2{
  color: #4589FF;
}

h3 {
  margin-top: 16px;
  color: #005DFF;
}

h4 {
  color: #005DFF;
  margin-bottom: 0;    
}

.numberAndText {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.number {
  font-size: 33px;
}

.headlinePlusText {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.mainText {
  margin-top: 0;
}

.textAndArrow{
  display: flex;
  align-items: center;
  justify-content: space-between;  
} 
